set superusers="root"
password_pbkdf2 root grub.pbkdf2.sha512.10000.D96EE468E2097554BEFFADBA1F1C3DDD42E6B551B836DD0C163DE5C0E2DA4E08A880041D1EEB616871DF0074946A70BA38438C1BD1BFD5EBD1A6CC0D5D84C71A.C16598868A794F55B1CA70EF7BE251AFA2C3A9A7BB79B9CA2B44905AA174E00CD854947456E27B8E52B5080DB74EE834742A04521C6441EE55B669CF2CBFB90B
set allow_hotkey=no

insmod gfxterm
set gfxmode=auto
set gfxpayload=keep
terminal_output gfxterm
terminal_input console

set timeout=60
set timeout_style=menu
set color_normal=green/black
set color_highlight=black/green

function quitProc {
  clear
  echo "Powering off now..."
  sleep 5
  halt
  true
}

true

menuentry "Safe Boot Test (Harmless)" --users=root {
  clear
  echo
  echo "======================================================="
  echo "|                                                     |"
  echo "|                   UEFI Test v1.03                   |"
  echo "|       Copyright 2025 0x5 All rights reserved.       |"
  echo "|                                                     |"
  echo "|-----------------------------------------------------|"
  echo "|                                                     |"
  echo "|       Safe Boot Test Image (UEFI Compatible)        |"
  echo "|        No disk access, no data modification.        |"
  echo "|                                                     |"
  echo "| System will power off automatically in 300 seconds. |"
  echo "|                                                     |"
  echo "======================================================="
  echo
  echo "Press Esc, F4 or hold Shift to exit earlier."
  echo Caution: Pressing Ctrl+Alt+Del will forcibly reboot the system.
  echo Please avoid pressing this key combination while the demo is running.
  echo
  set counter=0
  while [ "$counter" -lt 5 ]; do
    sleep 60 --interruptible
    if [ "$?" -ne 0 ]; then
      echo
      echo "Interrupted by user."
      quitProc
      true
    fi
    if [ "$counter" = "0" ]; then set counter=1
    elif [ "$counter" = "1" ]; then set counter=2
    elif [ "$counter" = "2" ]; then set counter=3
    elif [ "$counter" = "3" ]; then set counter=4
    elif [ "$counter" = "4" ]; then set counter=5
    fi
    echo "${counter} minute(s) elapsed..."
  done
  quitProc
  true
}

menuentry "Power Off Right Now" --unrestricted {
  clear
  echo "Powering off immediately..."
  sleep 3
  halt
}
